---
import BaseHead from "../../components/BaseHead.astro";
import NavHeader from "../../components/NavHeader.astro";
import PostItem from "../../components/PostItem.astro";
import AsideLayout from "../../layouts/AsideLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getAllPosts, yearStr } from "../../utils/common";

const allPosts = await getAllPosts({ review: true });
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <NavHeader />
    <AsideLayout class="max-w-65ch mx-auto mt40">
      <div class="mt10">
        <div class="mb6 font-bold text-md">Reviews / 综述</div>
        {
          allPosts.map((p, i) => (
            <>
              {yearStr(p, allPosts[i - 1]) && (
                <div class="my6 text-md font-bold">
                  {yearStr(p, allPosts[i - 1])}
                </div>
              )}
              <div class="mb4">
                <PostItem post={p} />
              </div>
            </>
          ))
        }
        {allPosts.length === 0 && <div>nothing !</div>}
      </div>
    </AsideLayout>
  </body>
</html>
