---
import { getAllPosts } from "../utils/common";
import AboutMe from "../content/blog/introduce.md";
import PostItem from "../components/PostItem.astro";
import AsideLayout from "../layouts/AsideLayout.astro";

const allPosts = await getAllPosts();
---

<AsideLayout>
  <div class="max-w-65ch <lg:mx-auto">
    <div>
      <div class="mb6 font-bold text-md">ABOUT / 关于我</div>
      <AboutMe />
    </div>

    <div class="mt10">
      <div class="mb6 font-bold text-md">ESSAYS / 文章</div>
      {
        allPosts.map((p) => (
          <div class="mb4">
            <PostItem post={p} />
          </div>
        ))
      }
    </div>
  </div>
</AsideLayout>
