---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import PostItem from "../components/PostItem.astro";
import { getAllPosts } from "../utils/common";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const allPosts = await getAllPosts();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="pt-40">
      <h1>Hello I'm <b class="mark">{SITE_TITLE}</b></h1>
      <p>一名前端工程师</p>

      <h1 class="mt8">Recently <b class="mark">Posts</b></h1>
      <ul>
        {
          allPosts.map((p) => (
            <li class="py-3">
              <PostItem post={{ desc: p.data.description }} />
            </li>
          ))
        }
      </ul>
    </main>
    <Footer />
  </body>
</html>
